<app-header></app-header>

    <main>
        <h1>Dashboard Financeiro</h1>
        <div class="container-valor-recebido">
            <div class="container-valor-recebido-cabecalho">
                <span>
                    <i class="bi bi-mortarboard icone"></i>
                </span>
                <p>Programa Pé de Meia</p>
            </div>

            <div class="total-beneficio">
                <h3>Total acumulado</h3>
                <div class="total-beneficio-recebido">R$ 4.400,00</div>
                <div class="total-beneficio-mensal"><i class="bi bi-arrow-up-right"></i> +R$ 200,00 p/ mês</div>
            </div>
        </div>

        <section class="total-transacoes">
            <div class="card">
                <h3>Saldo Total <i class="bi bi-wallet2"></i></h3>
                <div>R$ 1.300</div>
                <span class="percentual-variavel"><i class="bi bi-arrow-up-right"></i> +12% em relação ao mês passado</span>
            </div>

            <div class="card">
                <h3>Receitas <i class="bi bi-arrow-up-right receita"></i></h3>
                <div class="receita">R$ 5.800</div>
                <p>Entradas do mês</p>
            </div>

            <div class="card">
                <h3>Despesas <i class="bi bi-arrow-down-right despesa"></i></h3>
                <div class="despesa">R$ 4.500</div>
                <p>Saídas do mês</p>
            </div>
        </section>

        <section class="detalhes-transacoes">
            <div class="card">
                <h2 class="titulo">Evolução Mensal</h2>
                <div>
                    Inserir Gráfico de Receitas e Despesas mensais
                </div>
            </div>

            <div class="card">
                <h2 class="titulo">Despesas por Categoria</h2>
                <div>
                    Inserir Gráfico de Despesas por categoria mensais
                </div>
            </div>
        </section>

        <section class="card historico-transacoes">
            <h2 class="titulo">Últimas Transações</h2>
            <div class="card-transacao">
                <div>
                    <span><i class="bi bi-arrow-up-right receita"></i></span>
                    <span>
                        <h4 class="titulo-transacao">Salário</h4>
                        <span class="categoria-transacao">Salário</span>
                        <span class="categoria-transacao">06/11/2025</span>
                    </span>
                </div>
                <span class="valor-transacao receita">R$ 1.000</span>
            </div>
            <div class="card-transacao">
                <div>
                    <span><i class="bi bi-arrow-down-right despesa"></i></span>
                    <span>
                        <h4 class="titulo-transacao">Conta de Luz</h4>
                        <span class="categoria-transacao">Moradia</span>
                        <span class="categoria-transacao">10/11/2025</span>
                    </span>
                </div>
                <span class="valor-transacao despesa">R$ 250</span>
            </div>
        </section>
    </main>
    
<app-footer></app-footer>
