<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controlaê - Transações</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
                <nav>
            <a routerLink="/dashboard">
                <img class="retorno-home" src="assets/img/Logomarca Horizontal.png" alt="Logomarca, Volte para tela inicial">
            </a>
            <div class="nav-bar">
                <a routerLink="/dashboard"><i class="bi bi-house nav-bar-icone"></i> Dashboard</a>
                <a routerLink="/transacoes"><i class="bi bi-arrow-left-right nav-bar-icone"></i> Transações</a>
                <a routerLink="/gastos-fixos"><i class="bi bi-cash-coin nav-bar-icone"></i> Gastos Fixos</a>
                <a routerLink="/lembretes"><i class="bi bi-bell nav-bar-icone"></i> Lembretes</a>
                <!-- <a href="dicas.html"><i class="bi bi-lightbulb nav-bar-icone"></i> Dicas</a> -->
            </div>
            <div>
                <a class="sino-notificacoes" href="#">
                    <i class="bi bi-bell"></i>
                </a>
                <ul>
                    <li class="menu">
                        <a class="menu-icone" href="#">
                            <i class="bi bi-person-circle"></i> 
                            <i class="bi bi-caret-down-fill"></i>
                        </a> 
                        <div class="menu-dropdown">
                            <!-- <a href="entrar.html" class="menu-link">Entrar</a>
                            <a href="cadastrar.html" class="menu-link">Cadastrar</a> -->
                            <a href="#" class="menu-link">Perfil</a>
                            <a class="menu-link" routerLink="/dashboard"><i class="bi bi-house icones-dropdown"></i><br> Dashboard</a>
                            <a class="menu-link" routerLink="/transacoes"><i class="bi bi-arrow-left-right icones-dropdown"></i><br> Transações</a>
                            <a class="menu-link" routerLink="/gastos-fixos"><i class="bi bi-cash-coin icones-dropdown"></i> <br>Gastos Fixos</a>
                            <a class="menu-link" routerLink="/lembretes"><i class="bi bi-bell icones-dropdown"></i><br> Lembretes</a>
                            <!-- <a class="menu-link" href="dicas.html"><i class="bi bi-lightbulb icones-dropdown"></i><br> Dicas</a> -->
                            <a href="#" class="menu-link">Sair <i class="bi bi-box-arrow-right icones-dropdown"></i></a>
                        </div> 
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="container-funcionalidades">
            <div class="exportar-adicionar">
                <span>
                    <h1>Transações</h1>
                    <h2>Gerencie suas entradas e saídas</h2>
                </span>
                <span class="btn-exportar-adicionar">
                    <button class="btn btn-exportar"><i class="bi bi-file-earmark-arrow-down-fill"></i> Exportar PDF</button>
                    <button class="btn btn-adicionar"><i class="bi bi-plus-circle-fill"></i> Nova Transação</button>
                </span>
            </div>
            <div class="campo-de-pesquisa">
                <i class="bi bi-search"></i>
                <input type="text" id="buscar-transacao" nome="buscar-transacao" placeholder="Buscar transações..." required>
            </div>
            <button class="btn">Todas</button>
            <button class="btn receita">Receitas</button>
            <button class="btn despesa">Despesas</button>
        </section>

        <section class="historico-transacoes">
            <h2>Histórico de Transações</h2>

            <div>
                <div class="card-transacao">
                    <div class="card-componentes">
                        <span><i class="bi bi-arrow-up-right receita"></i></span>
                        <span>
                            <h4 class="titulo-transacao">Salário</h4>
                            <span class="categoria-transacao">Salário</span>
                            <span class="categoria-transacao">06/11/2025</span>
                        </span>
                    </div>
                    <span class="valor-transacao receita">R$ 1.000</span>
                </div>
                <div class="card-transacao">
                    <div class="card-componentes">
                        <span><i class="bi bi-arrow-down-right despesa"></i></span>
                        <span>
                            <h4 class="titulo-transacao">Conta de Luz</h4>
                            <span class="categoria-transacao">Moradia</span>
                            <span class="categoria-transacao">10/11/2025</span>
                        </span>
                    </div>
                    <span class="valor-transacao despesa">R$ 250</span>
                </div>
                <div class="card-transacao">
                    <div class="card-componentes">
                        <span><i class="bi bi-arrow-up-right receita"></i></span>
                        <span>
                            <h4 class="titulo-transacao">Salário</h4>
                            <span class="categoria-transacao">Salário</span>
                            <span class="categoria-transacao">06/11/2025</span>
                        </span>
                    </div>
                    <span class="valor-transacao receita">R$ 1.000</span>
                </div>
            </div>
        </section>


    </main>

    <footer>
        <div>
            <p>
                © 2025 CONTROLAÊ - Controle financeiro para beneficiários do Pé de Meia
            </p>
        </div>
    </footer>
    
</body>
</html>
