:host {
    display: block;
}

.container{
    padding: 8rem 1rem 3rem 1rem;
    text-align: center;
}

.container h1 {
    font-size: 2.1rem;
    font-weight: 700;
}


.container h1 span {
    color:var(--cor-terciaria);
}


.subtitulo {
    margin-top: 1.3rem;
    font-size: 1rem;
    color: #4b5563;
}


.botoes {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}


.btn {
    padding: 0.8rem 1.8rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
}

.btn:hover{
    filter: opacity(50%);
}

.btn-primario {
    background:var(--cor-terciaria);
    color: #fff;
}


.btn-secundario {
    background: #fff;
    border-color:var(--cor-terciaria);
    color:var(--cor-terciaria);
}


.infos-basicas {
    text-align: center;
    font-size: 0.9rem;
}

.infos-basicas h2{
    margin-bottom: 0.5rem;
}

section{
    align-items: center;
}

.container-cards {
    max-width: 80%;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.icone{
    color: var(--cor-terciaria);
    font-size: 2rem;
}

.card-titulo {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem auto 0.5rem auto;
}

.card-desc {
    color: #4b5563;
    font-size: 0.9rem;
}

.card {
    margin-bottom: 25px;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.05);
}

.cta{
    background-color: var(--cor-terciaria);
    margin: 0 1rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.cta h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.cta p{
    color: white;
    font-size: 0.8rem;
    margin: 0.6rem 0 1.5rem 0;
}

.cta a{
    padding: 0.8rem 1.6rem;
    font-size: 0.8rem;
}

@media (min-width: 590px){
    .container-cards {
        margin-right: auto;
        margin-left: auto;
    }
    .cta {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px){
    .container-cards{
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: row;
        gap: 3rem;
        width: 100%;
    }
    .card{
        width: 250px;
        height: 120px;
        margin-right: auto;
        margin-left: auto;
    }
}