body{
	background-color:#dfffc5;
}

.cabecalho{
	margin: 10rem 1rem 2rem 1rem;
}
.cabecalho div h1 {
	font-size: 28px;
	font-weight: 700;
}
.cabecalho div p{
	font-size: 14px;
	color: #777;
	margin: 0.6rem 0 0.8rem 0;
}
.btn{
	background-color: var(--cor-terciaria);
	color: white;
	border: none;
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 14px;
	cursor: pointer;
	transition: 0.5s;
}
.btn:hover{
	opacity: 80%;
}

.card-resumo{
	background-color: white;
	padding: 1.5rem;
	border-radius: 0.8rem;
	margin-top: 2rem;
	box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.card-resumo h2{
	font-size: 20px;
}
.valor-resumo {
	font-size: 28px;
	font-weight: 700;
	color: red;
	margin: 0.8rem 0 0.5rem 0;
}
.descricao {
	font-size: 13px;
	color: #777;
}

.lista-container {
	width: 80%;
	margin-top: 2rem;
	background: white;
	padding: 1.5rem;
	border-radius: 0.9rem;
	box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.lista-container h2 {
	margin-bottom: 1.4rem;
	font-size: 20px;
}
.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f3f4f6;
	padding: 1.2rem 1.4rem;
	border-radius: 10px;
	margin-bottom: 1rem;
}
.item-desc{
	display: flex;
	gap: 0.5rem;
}
.icone {
	font-size: 26px;
	margin-right: 1.4rem;
	padding: 0.5rem;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
	justify-content: center;
	background-color: rgb(255, 186, 186);
	color: red;
}
.info{
	display: flex;
	flex-direction: column;
}
.info h3 {
	font-size: 16px;
	font-weight: 600;
}
.categoria{
	font-size: 11px;
	padding: 0.3rem 0.5rem;
	border-radius: 0.4rem;
	margin-right: 0.5rem;
}
.vencimento{
	font-size: 12px;
	color: #555;
}
.valor {
	margin-left: 1rem;
	font-size: 16px;
	font-weight: 600;
	color: red;
}

@media (min-width: 768px){
	.cabecalho{
		display: flex;
		justify-content: space-between;
		width: 90%;
		text-align: left;
	}
	.btn{
		margin: 1rem;
	}
	.info{
		margin-right: 18rem;
	}
}
