body{
    background-color: #dfffc5;
    text-align: center;
}

/* header */
.retorno-home {
    width: 5.6rem;
}

.menu:hover .menu-dropdown {
    height: 21.1rem;
    width: 7rem;
}

.icones-dropdown{
    font-size: 1rem;
}

/* main */
.cabecalho{
    margin: 10rem 1rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.cabecalho h1{
    font-size: 28px;
    font-weight: 700;
}
.cabecalho p{
    margin-top: 5px;
    color: #666;
    font-size: 14px;
}
.alert-sucesso {
    background: #37b24d;
    color: white;
    padding: 18px;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.alert-sucesso .icone {
    background: rgba(255,255,255,0.25);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/* Cards gerais */
.dica-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.dica-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.dica-titulo h3 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

/* Tags */
.tag {
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 8px;
    font-weight: 500;
    color: white;
}

.azul {
    background: #1e88e5;
}

.vermelho {
    background: #d62828;
}

.laranja {
    background: #f59f00;
}

.verde {
    background: #2f9e44;
}

.cinza {
    background: #868e96;
}

/* Texto */
.dica-card p {
    font-size: 15px;
    color: #444;
}

/* Extra */
.extra-card {
    background: white;
    padding: 22px;
    border-radius: 12px;
    margin-top: 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.extra-card h3 {
    font-size: 19px;
    margin-bottom: 10px;
}