html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
embed, figure, figcaption,
footer, header, hgroup,
menu, nav, output,
ruby, section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
   content: '';
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

:root {
    --cor-principal:#6a9c40;
    --cor-secundaria: #f7941d;
    --cor-terciaria: #1d4ed8;
    --cor-rodape: gray;
}

/* ======================================= */
          /* 1. ESTILOS GLOBAIS */
/* ======================================= */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Ajustes globais de tema usados pela Home */
html, body {
    background:  #dfffc5;
    color: #111827;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    height: 5.5rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
nav a {
    text-decoration: none;
}
nav div {
    display: flex;
    margin-right: 1rem;
}
.retorno-home {
    width: 5rem;
    object-fit: cover;
    cursor: pointer;
    margin-left: 1rem;
}
.sino-notificacoes {
    color: var(--cor-secundaria);
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}
.menu {
    position: relative;
    margin-right: 1rem ;
}
.menu-icone {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--cor-principal);
    cursor: pointer;
    margin-left: 1rem;
}
.bi.bi-person-circle {
    font-size: 1.5rem;
}
.menu .menu-dropdown {
    flex-direction: column;
    position: absolute;
    background-color: #699c40b9;
    width: 6rem;
    height: 0;
    overflow: hidden;
}
.menu-link {
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 1rem;
}
.menu:hover .menu-dropdown {
    height: 5.5rem;
    transition: 0.5s;
}
.menu:hover .menu-link:hover {
    background-color: var(--cor-principal);
}
.nav-bar{
    position: absolute;
    height: 0;
    overflow: hidden;
}
footer{
    display: block;
    margin: 3rem auto 0 auto;
}

footer div{
    background-color: white;
    padding: 3rem 1rem;
    color: var(--cor-rodape);
    text-align: center;
}

@media (min-width: 768px){
    .nav-bar{
        position: relative;
        height: 3rem;
        overflow: visible;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 600;
        gap: 1.5rem;
    }
    .nav-bar a{
        color: var(--cor-principal);
        cursor: pointer;
    }
    .nav-bar a:hover{
        opacity: 0.7;
    }
    .nav-bar-icone{
        font-size: 1rem;
    }
}

@media (min-width: 800px) {
    .bi.bi-bell {
        font-size: 1.3rem;
    }
    .bi.bi-person-circle {
    font-size: 1.7rem;
    }
    .retorno-home {
    width: 5.6rem;
    }
    .menu-icone {
    margin-left: 1.5rem;
    }
}
@media (min-width: 1440px){
    footer{
        position: Bottom;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

