body {
    background-color: rgba(0, 106, 255, 0.833);
}

h4 {
    color: black;
}

.cadastrar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 60%;
    padding: 2rem;
    gap: 20px;
    border-radius: 20px;
    margin-top: 80px;
}

.img-chapeu img{
    width: 80px;
    position: relative;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

p {
    color: gray;
    font-size: 12px;
}

.sobre-pe-de-meia {
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.sobre-pe-de-meia p {
    line-height: 1.5;
}

h3 {
    margin-bottom: 15px;
}

.botao {
    border: none;
    border-radius: 5px;
}

.botao:hover {
    filter: brightness(80%);
}

.figura-usuario {
    background-color: rgba(0, 106, 255, 0.833);
    color: white;
    padding: 1.3rem;
    border-radius: 100%;
}

.bi.bi-person-square{
    font-size: 1.5rem;
}

form {
    width: 100%;
}

.selecionar-ano {
    background-color: rgba(0, 106, 255, 0.833);
    color: white;
    font-weight: 600;
    padding: 1rem;
    margin: 0.5rem 0 1.5rem 0;
}

.descricao-de-campo {
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 0.3rem;
}

.campo-de-texto {
    margin-bottom: 1rem;
}

.campo-de-texto input {
    width: 100%;
    padding: 15px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    position: inherit;
}

::placeholder {
    color: #aaa;
    font-family: 'Poppins', Arial, sans-serif;
}

.botao-enviar {
    background-color: rgba(0, 106, 255, 0.833);
    color: white;
    font-size: 16px;
    font-weight: 600;
    height: 3.125rem;
    width: 100%;
}
.msg-erro{
    color: red;
    margin-bottom: 1rem;
}